/* generel stle  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100vh;
    display:flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
.container {
    width: 100%;
    padding-left: 80px;  
    padding-right: 80px; 
    max-width: 1440px;
    background: white;                          
} 
/* header style  */
.header__container {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.header__container img{
    width: 236px;
    height: 26px;
    flex-shrink: 0;
}
