/* general style  */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container {
    width: 100%;
    padding-left: 79px;
    padding-right: 79px;
    max-width: 1440px;
} 
/* html{
 height: 100%;
}
body {
    height: auto;
} */
/* header style  */
body h4 {
    color: #83888F;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    width: 255px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    background: #FEFCF7;
    height: 100px;
}
.header__container img {
    width: 236px;
height: 26px;
flex-shrink: 0;
}
.header__container a {
 color: #83888F;
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 15px; 
letter-spacing: 0.923px;
text-transform: uppercase;
text-decoration: none;
}
span a {
    color: #333D4B;
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 15px; /* 125% */
letter-spacing: 0.923px;
text-transform: uppercase;
}
/* main  */
/* first__container */
.first__container {
width: 1280px;
height: 600px;
flex-shrink: 0;
background-image: url(../images/Bitmap.png);
margin-left: 80px;
}
.first__container__info {
    width: 493px;
height: 367px;
flex-shrink: 0;
margin-left: 86px;
margin-top: 130px;
}
.first__container__info h1 {
    color: #FEFCF7;
    font-family: Fraunces 9pt;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; /* 100% */
    margin-top: 150px;
}
.first__container__info p{
    color: #FEFCF7;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 445px;
}
.first__container__info button{
width: 217px;
height: 56px;
flex-shrink: 0;
border-radius: 6px;
background: #66D2CF;
margin-top: 150px;
}
.first__container__info button span{
    color: #FEFCF7;
text-align: center;
font-family: Fraunces 9pt;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 138.889% */
}
.text {
    display: flex;
width: 493px;
height: 255px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32px;
flex-shrink: 0;
}
/* second__container */
.second__container {
    width: 1440px;
    height: 196px;
    position: relative;
    
}
.collection img {
    width: 1291px;
    height: 196px;
    flex-shrink: 0;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 110px;
    gap: 36px;
}
.title__info__text {
    margin-left: 36px;
}
.card img {
    width: 256px;
height: 193px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 0px 0px / 100% 100% no-repeat;
}
.card h3 {
    width: 255px;
    color: #333D4B;
text-align: center;
font-family: Fraunces 9pt;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 32px;
}
.card p {
    width: 255px;
    color: #333D4B;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-top: 24px;
}
/* third__section */
.third__section {
width: 1280px;
height: 850px;
flex-shrink: 0;
color: #2C343E;
position: relative;
}
.paragraf{
    width: 1280px;
    height: 577px;
    flex-shrink: 0;
    background-color: #2C343E;
    margin-top: 400px;
    padding-top: 100px;
}
.paragraf h2 {
    color: #FEFCF7;
text-align: center;
font-family: Fraunces 9pt;
font-size: 40px;
font-style: normal;
font-weight: 900;
line-height: 48px; 

}
.paragraf p {
    width: 540px;
    color: #FEFCF7;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-top: 32px;
margin-left: 370px;
}
/* block  */
.block {
    width: 350px;
height: 382px;
flex-shrink: 0;
border-radius: 8px;
background: #0E8784;

}
.blocked {
    width: 1110px;
height: 382px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content:space-evenly;
align-items: center;
margin-left: 85px;
position: absolute;
bottom: 150px;

}
.block img {
    width: 72px;
height: 72px;
flex-shrink: 0;
fill: #FDD6BA;
margin:71px 142px 56px 135px;
}
.block h2 {
    width: 255px;
    color: #FEFCF7;
text-align: center;
font-family: Fraunces 9pt;
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 32px;
margin-left:47px;
margin-right:48px; 
}
.block p{
    width: 255px;
    color: #FEFCF7;
text-align: center;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-left:47px;
margin-right:48px;
margin-top: 30px;
}
/* fourth__conatinder  */
.fourth__conatinder {
    display: flex;
    height: 565px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    width: 1045px;
}
.fourth__conatinder h4 {
    color: #83888F;
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; 
    width: 255px;
    
}

.lines{
    position: relative;
}

.linem{
    display: flex;
    gap: 349px;
    z-index: 1;
    padding-bottom: 15px;
}

.line1{
    width: 31px;
    height: 31px;
    z-index: 1;
    border-radius: 50%;
    border:2px solid #0E8784;
}

.lined{
    position: absolute;
    top: 15px;
}

.line2{
    width: 350px;
    height: 2px;
    background-color: #FDD6BA;
    margin-left: 29px;
    
}

.lin{
    margin-left: 109%;
}
.card__info {
    display: flex;
    align-items: center;
    width: 1045px;
    gap: 95px;
    height: 453px;
}
.first__info__card {
    width: 285px;
height: 355px;
flex-shrink: 0;
}
.first__info__card span {
    color: #FDD6BA;
font-family: Fraunces 9pt;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 72px;
}
.first__info__card h3 {
    width: 255px;
    color: #333D4B;
font-family: Fraunces 9pt;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 36px;
margin-top: 32px;
margin-bottom: 43px; 
}
.first__info__card p {
    width: 285px;
    color: #333D4B;
font-family: Barlow;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}
.Create__your__plan button {
    border-radius: 6px;
background: #66D2CF;
width: 217px;
height: 56px;
flex-shrink: 0;
margin-top: 64px;
padding-top: 15px;
padding-bottom: 16px;
}
.Create__your__plan p {
    color: #FEFCF7;
text-align: center;
font-family: Fraunces 9pt;
font-size: 18px;
font-style: normal;
font-weight: 900;
line-height: 25px; 
}
/* fotter  */
.footer__container {
    width: 1280px;
    height: 120px;
    flex-shrink: 0;
    background: #2C343E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px;
}
.plan {
    color: #FEFCF7;
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 15px; /* 125% */
letter-spacing: 0.923px;
text-transform: uppercase;
}
.info {
    color: #83888F;
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 15px;
letter-spacing: 0.923px;
text-transform: uppercase;
}
.footer__container a {
    text-decoration: none;
    margin-left: 10px;
}
.link__picture {
    width: 236px;
height: 26px;
flex-shrink: 0;
}
.link__galery {
    width: 120px;
height: 24px;
flex-shrink: 0;
}
button {
    border:none;
    cursor: pointer;
}
button:hover {
    background-color:#333D4B;
    border: none;
}
 .header__container  a:hover {
    transform: translate(1.3,1.3);
    transition: 0.5;
    color: rgb(11, 10, 10);
}
a:hover {
    transform: translate(1.3,1.3);
    transition: 0.5s;
    color: white;
}
.header__container a {
margin-left: 10px;
}

@media screen and (max-width:768px) {
    .container {
        padding-left: 39px;
        padding-right: 39px;
    }
    .header__container img {
        width: 236px;
        height: 26px;
        flex-shrink: 0;
    }
    .header__container  {
        width: 689px;
        height: 26px;
        flex-shrink: 0;
    }
    .link {
        display: flex;
width: 283px;
height: 15px;
padding-right: 0px;
justify-content: center;
align-items: flex-start;
gap: 33px;
flex-shrink: 0;

    }
    .link a {
        color: #83888F;
font-family: Barlow;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 15px; /* 125% */
letter-spacing: 0.923px;
text-transform: uppercase;

    }
    
    .first__container {
        width: 689px;
       height: 500px;
       flex-shrink: 0;
       background-image: url(../images/Bitmap.png);
       background-size: cover;
       margin-left: 39px;
       margin-right: 39px;
    }
    .second__container {
        width: 689px;
        height: 927px;
        flex-shrink: 0;
    }
    .collection img{
        width: 689px;
        height: 118px;
        flex-shrink: 0;  
    
    }
    .cards {
        display: flex;
        align-items: center;
    }
    .card {
        display: flex;
        align-items: center; 
        flex-direction: column;
    }

     

}

@media screen and (max-width:327px) {

}
